<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main class="min-h-screen w-full bg-slate-900 p-10">

        <a class="text-xl text-blue-500 shadow-md"  href="/">Go Back To Home</a>

        <h1 class="text-3xl text-white  mt-7"><%= filename %></h1>

        <p  class="text-xl text-slate-200 mt-3 p-5" ><%= filedata %></p>
        

    </main>
</body>
</html>