<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: sans-serif;
        }
    </style>
</head>

<body>
    <h1>Welcome to ChatAPP</h1>

    <input type="text" id="messageInput" placeholder="Enter message">
    <button id="sendBtn">Send</button>


    <div id="messages"></div>


    <script src="/socket.io/socket.io.js"></script>

    <script>
        const socket = io();

        const messageInput = document.querySelector("#messageInput")
        const sendBtn = document.querySelector("#sendBtn")
        const allMessages = document.querySelector("#messages")


        socket.on("message", (message) => {
            const p = document.createElement('p');
            p.innerHTML = message;
            allMessages.appendChild(p)
        })

        sendBtn.addEventListener("click", () => {
            const message = messageInput.value;
            console.log(message);

            socket.emit('user-message', message)
        })


    </script>

</body>

</html>